<nav class="navbar navbar-expand-md navbar-light nav-container">
  <div class="container ">
        <a class="navbar-brand wood-nav-title" href="{{ path('wood_home')}}">Wooden Art</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarsExample03 ">
        <ul class="navbar-nav ml-auto nav-menu-items">
        <li class="nav-item">
            <a class="nav-link " href="{{ path('wood_home')}}">Wooden art </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('wood_about')}}">About Us </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
        </li>
        </ul>
    </div>
    </div>

</nav>