.about-container{ 
    p{
      line-height: 1.6;
    }
    img{
      width: 450px;
      height: 450px;
    }
    font-family: 'Eczar', serif;
}
.about-text{
  h1,h3{
    letter-spacing: 2px;
  }
  color: #603720;
}