.social-media-icon{
    color: #603720;
    transition: all .4s ease-out;
    cursor: pointer;
  }

  .social-media-icon:hover{
    color: #B78C57;
    transition: all .2s ease-out;
  }
  .footer-text{
    color: #424242;
  }
  .heart{
    color: #AE804B;
  }
  .footer-text {
    a{
      color: #AE804B;
      text-decoration: none;
    }
  }
