{% extends 'base.html.twig' %}

{% block title %}Wooden Art{% endblock %}

{% block body %}
    <div class="about-container row justify-content-center">
        
    <div class="col-7">
        <h1 class="text-center pt-5 mb-5">A PROPOS DE NOUS</h1>
        <h3 class="mb-3">NOTRE HISTOIRE</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis erat vitae scelerisque dictum. Aliquam sed molestie metus, nec sagittis odio.
         Nam ac faucibus nisi, ac tincidunt orci. Nullam in risus ullamcorper, porttitor neque vulputate, rhoncus mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          Cras vel neque vitae augue placerat fringilla a lobortis odio. Ut quis velit interdum, porttitor ex eu, consequat nunc.

        Sed blandit commodo magna, at elementum dui ornare id. Duis cursus neque sit amet arcu molestie vulputate.
            Phasellus in sem eget lectus porta sagittis. Maecenas orci orci, faucibus in vestibulum eget, porta ac tellus.
            Fusce sagittis nulla nec enim euismod vehicula aliquet vitae lacus. Proin lorem leo, varius non tellus sit amet, venenatis venenatis nisi.
            Morbi vel orci ornare quam egestas aliquam. Maecenas quis lorem at sem venenatis hendrerit. Sed sagittis sagittis sagittis. Proin tristique lorem nulla, sit amet hendrerit augue tempor eu.
            Quisque nulla metus, interdum et augue sed, lacinia gravida est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    </div>
    </div>
    

 

{% endblock %}
