{% extends 'base.html.twig' %}

{% block title %}Wooden Art{% endblock %}

{% block body %}
    <div class="about-container row justify-content-center smoky-text">
        
    <div class="col-10">
        <h1 class="text-center pt-5 mb-5 ">A PROPOS DE NOUS</h1>
        <div class="d-flex justify-content-between mb-5">
        
        <img class="mr-5" src="{{ asset('/build/images/woodLamp2.054b414a.jpg') }}" alt="woolLamp">
        <div class="d-flex flex-column">
            
       <h3 class="mb-3"> NOTRE HISTOIRE</h3>
        <p class="h5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis erat vitae scelerisque dictum. Aliquam sed molestie metus, nec sagittis odio.
         Nam ac faucibus nisi, ac tincidunt orci. Nullam in risus ullamcorper, porttitor neque vulputate, rhoncus mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          Cras vel neque vitae augue placerat fringilla a lobortis odio. Ut quis velit interdum, porttitor ex eu, consequat nunc.

        Sed blandit commodo magna, at elementum dui ornare id. Duis cursus neque sit amet arcu molestie vulputate.
            Phasellus in sem eget lectus porta sagittis. Maecenas orci orci, faucibus in vestibulum eget, porta ac tellus. </p>
     </div>   
    </div>
    </div>
    </div>
    

 

{% endblock %}
