{% extends 'base.html.twig' %}

{% block title %}Wooden Art{% endblock %}

{% block body %}

       <div class="hero d-flex justify-content-center align-items-center">
              <h2 class="align-self-center">Team collaboration done right</h2>
              <div class="hero__inner">
</div> 
       </div>

 

{% endblock %}
